body{
    background:#000;
    color:#00ff9f;
    font-family:monospace;
    margin:0;
}

h1{
    text-align:center;
    padding:20px;
    color:#00ff9f;
    text-shadow: 0 0 5px #00ff9f;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:15px;
    padding:15px;
}

.panel{
    background:#0a0a0a;
    border:1px solid #00ff9f;
    padding:10px;
    border-radius:8px;
    box-shadow: 0 0 10px #00ff9f;
}

.full{
    grid-column:span 3;
}

canvas{
    width:100%;
    height:250px;
}

#map,#graph{
    height:250px;
}

#terminal{
    background:black;
    height:200px;
    overflow:auto;
    border:1px solid #00ff9f;
    padding:10px;
}

#cmd{
    width:100%;
    background:black;
    color:#00ff9f;
    border:none;
    padding:10px;
    outline:none;
}
